<div class="row">
    <button class="btn btn-info" (click)="onReload()">Reload Servers</button>

    <!-- <a href="#" class="list-group-item list-group-item-action" *ngFor="let server of servers"
        [routerLink]="['/servers', 3, 'edit']" [queryParams]="{allowEdit: '1'}" fragment="loading"> -->

        <a href="#" class="list-group-item list-group-item-action" *ngFor="let server of servers"
[routerLink]="['/servers', server.id]" [queryParams]="{allowEdit: '1'}" fragment="loading">


    <!-- <div class="col" *ngFor="let server of servers"> -->
        <!-- Por cada servidor crearemos una tarjeta con el nombre y el estado del servidor-->
        <div class="card mt-2">
            <div class="card-header">
                    {{server.name}}
            </div>
            <div class="card-body">
                <h5 class="card-title">Server status</h5>
                <p class="card-text">{{server.status}}</p>
            </div>
        </div>
    </a>
    <!-- </div> -->

</div>


